.selected{
    color: rgb(6, 236, 232);
    background-color: rgb(0, 0, 0);

}

.tdForm{
    border: 2px;
    font-size: 20px;
    width: 100px;
    border: 1px solid rgb(0, 0, 0);
    margin-top: -180px;
    margin-left: 300px;
    border-bottom: 1px solid black;
}

.blockForm{
    border: 2px;
    font-size: 20px;
    width: 100px;
    border: 1px solid rgb(0, 0, 0);
    margin-top: -180px;
    margin-left: 300px;
}

.allForm{
    border: 2px;
    font-size: 15px;
    width: 100px;
    border: 1px solid rgb(0, 0, 0);
    
}

.tdallForm{
    border: 2px;
    font-size: 15px;
    width: 100px;
    border: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid black;
    border-collapse: collapse;
}

.tdallForm td{
    border: 1px solid rgb(0, 0, 0);
}

.tdForm td{
    border: 1px solid rgb(0, 0, 0);
}